@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --text: #d7d7d7;
  --text-h: #d7d7d7;
  --bg: #1a1a1a;
  --border: #3e3e3e;
  --orange: #e48532;
  --social-bg: #1e1e1e;

  --sans: system-ui, Roboto, sans-serif;
  --heading: system-ui, "Archivo Black", Roboto, sans-serif;
  --colored: "Archivo Narrow", sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background: var(--bg);
}

#root {
  /* max-width: 1126px; */
  width: 100%;
  /* margin: 0 auto; */
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  font-family: var(--colored);
  font-weight: normal;
  letter-spacing: -0.5px;
  margin: 0;
}

h4 {
  font-family: var(--colored);
  color: var(--orange);
  font-weight: normal;
  letter-spacing: -0.5px;
}

p {
  margin: 0;
}
